{
  "connections": [],
  "customer_domain": "<SUBDOMAIN>.datagrail.io",
  "datagrail_agent_credentials_location": "<DATAGRAIL AGENT CREDENTIALS LOCATION>",
  "datagrail_credentials_location": "DATAGRAIL CREDENTIALS LOCATION",
  "platform": {
    "storage_manager": {
      "provider": "AWSS3",
      "options": {
        "bucket": "<BUCKET NAME>"
      }
    },
    "credentials_manager": {
      "provider": "AWSSecretsManager"
    }
  }
}
